.fullWidth{
    width: 100%;
    max-width: inherit;
}
h1{
    text-align: center;
    font-size: 45px;

}
p{
    text-align: center;
    font-size: 25px;
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#about{
    background-color: aqua;
}
